@import '/src/styles/variables';

.cart {
  position: relative;
  color: $blue;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: $white;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  color: $white;
  background-color: $blue;
  font-size: 10px;
  width: 16px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
}

.modal {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $grayLight;
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 360px;
  min-height: 430px;
  height: 100%;
  padding: 20px;
  animation: slideOpen 0.5s ease-in-out;
}

@keyframes slideOpen {
  from {
    transform: translateX(360px);
  }
  to {
    transform: translateX(0px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.backButton {
  width: 100%;
  color: $white;
  background-color: $blue;
  padding: 10px;
  border-radius: 5px;
}

.closeIcon {
  cursor: pointer;
}

.totalWrapper {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.countPosition {
  color: $grayMain;
}

.totalPrice {
  font-size: 26px;
}
