@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

body {
  font: {
    family: 'SFProText', sans-serif;
    weight: 400;
    style: normal;
    size: 16px;
  }
}
