@import '/src/styles/variables';

.product {
  padding: 16px;
  border: 1px solid white;
}

.sale {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: $white;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;

  span:first-of-type {
    color: $blue;
  }
}

.image {
  width: 100%;
  aspect-ratio: 1;
}

.rating {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: $white;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;

  svg {
    color: $blue;
  }
}

.name {
  margin: 8px 0;
}

.description {
  margin-bottom: 8px;
  color: $grayMain;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newPrice {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  color: $white;
  background-color: $blue;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;
}

.oldPrice {
  color: $grayMain;
}
