@import '/src/styles/variables';

.item {
  display: flex;
  gap: 8px;
}

.image {
  aspect-ratio: 1;
  width: 60px;
}

.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  color: $grayMain;
}

.count {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: $grayLight;
  border-radius: 5px;

  span {
    width: 30px;
    text-align: center;
  }
  button {
    text-align: center;
    padding: 3px 5px;
  }
}

.price {
  color: $grayMain;
}
