@import '/src/styles/variables';

.button {
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;
}

.search {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: $white;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;

  input {
    flex: 1;
  }
}

.close {
  cursor: pointer;
}
