@import '/src/styles/variables';

.button {
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;
}

.search {
  position: relative;
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: $white;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;

  input {
    width: 200px;
    flex: 1;
  }
}

.close {
  cursor: pointer;
}

.clear {
  background-color: $blue;
  padding: 6px 8px 6px 6px;
  border-radius: 5px;
  position: absolute;
  right: 25px;
  color: $white;
}
